.card{
  width: 200px;


  background: #ffffff;
  border: 1px solid #C1C1C1;
  border-radius: 4px;

  color: black;
  text-align: center;

  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  &:hover{
    background-color: #cce8ff;
  }
}
.card__header{
  padding: 4px 10px;
  height: 55px;

  border-bottom: 1px solid #C1C1C1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card__content{
  padding: 20px 50px;

  p {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: black;
  }

}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: black;
}

.card__title + * {
  margin-top: 7px;
}

.card__icon {
  fill: #ffffff;
}